:root {
    --color1: #042940;
    --color2: #005C53;
    --color3: #9FC131;
    --color4: #D6D58E;
}

body {
    background: var(--color1);
    font-family: consolas;
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px}

.contenedor {
    background: var(--color2);
    width: 90%;
    margin: auto;
    box-shadow: 5px 5px 20px #000;
    border-radius: 40px;
    position: relative;
}

.header {
    padding: 20px 0px;
    text-align: center;
    text-transform: uppercase;
    background: #9FC131;
    color: var(--color1);
    font-size: 16px;
    border-radius: 40px 40px 0px 0px;
}

.puntaje {
    border-bottom: 1px solid var(--color3);
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
    padding: 20px 20px;
    font-size: 19px;
    color: var(--color4);
}

.marcador{
    border: 2px solid var(--color4);
    padding: 5px 20px;
    border-radius: 20px;
}

.instrucciones {
    text-align: center;
    padding: 10px;
    font-size: 22px;
    text-transform: uppercase;
}
.instrucciones h3 {
    background: var(--color4);
    display: inline-block;
    padding: 5px 30px;
    color: var(--color1);
    border-radius: 20px;
    animation: zoom 1s infinite alternate-reverse;
    transition: 1s;
}

.seleccion-item {
    padding: 5px;
    text-align: center;
}
.seleccion-item img {
    border: 1px dashed var(--color3);
    padding: 10px;
    margin: 0px 10px;
    transition: 0.5s;
}
.seleccion-item img:hover {
    border: 1px solid var(--color3);
    box-shadow: 10px 10px 20px var(--color1);
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.versus {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px;
}
.versus .vs {
    border: 5px solid var(--color1);
    outline: 3px dashed var(--color4);
    padding: 10px;
    font-size: 30px;
    background: var(--color4);
    border-radius: 20px;
    color: var(--color1);
}

.versus img {
    animation: girar 1s infinite alternate-reverse;
}

.disabled {
    opacity: 0.3;
    pointer-events: none;
}

.modal-resultados {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0429407a;
    backdrop-filter: blur(2px);
    width: 100vw;
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-resultados .all {
    background-color: var(--color2);
    box-shadow: 10px 10px 30px var(--color1);
    border-radius: 20px;
}
.modal-resultados .head {
    background: var(--color3);
    padding: 20px;
    color: var(--color1);
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px 20px 0px 0px;
}
.modal-resultados .body {
    padding: 20px;
    color: var(--color4);
    text-align: center;
    text-transform: uppercase;
}
.modal-resultados h1 {
    font-size: 35px;
    padding-bottom: 10px;
}

.modal-resultados .buttons button {
    padding: 10px 15px;
    text-transform: uppercase;
    margin: 5px;
    background: var(--color3);
    color: var(--color1);
    font-weight: bold;
    font-size: 16px;
    border: none;
    transition: 0.5s;
}
.modal-resultados .buttons button:hover { 
    box-shadow: 5px 5px 10px var(--color1);
    transform: scale(1.02);
    transition: 0.5s;
}

.mostrar-modal { display: flex; }
.ocultar { display: none; }

@keyframes zoom {
    0% {transform: scale(1);}
    100% {transform: scale(1.05);}
}
@keyframes girar {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(10deg);}
    100% {transform: rotate(0deg);}
    
}


@media (max-width: 750px) {
    .contenedor {
        width: 100% !important;
    }
    .header {
        font-size: 13px;
        padding: 10px 20px;
    }
    .puntaje {
        flex-direction: column;
        text-align: center;
        font-size: 17px;
        padding: 5px;
    }
    .puntaje div {
        margin: 2px;
    }

    .instrucciones {
        font-size: 17px;
        animation: zoom 1s infinite alternate-reverse;
    }

    .seleccion-item img {
        width: 50px;
        height: 50px;
    }

    .versus .vs {
        font-size: 14px;
        padding: 5px;
    }

    .versus img {
        width: 120px;
        height: 120px;
    }
}

@media (min-width: 540px) {
    .versus img {
        width: 200px;
        height: 200px;
    }
}


